*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    
}
body{
    background: url(../images/fundo.jpg);
}
header{
    background: brown;
    color: white;
    
}

.content{
    width: 80%;
    margin: 0 auto;
    background-color:white;
    box-sizing: border-box;
    height: 100vh;
    
}


.logo{
    position: relative;
    padding-top: 10px;
    width: 95%;
    margin: 0 auto;
}

.disk{
    position: absolute;
    top: 10px;
    right: 0;
}
.tel{
    position: absolute;
    top: 30px;
    right: 0;
       
}  
.navbar{
    background: #d9a300;
    padding: 10px;

}
.navbar li{
    display: inline-block;
}

.navbar a{
    text-decoration: none;
    padding: 0 20px;
    color: black;
    font-family: Verdana;
    font-size: 12px;
}

.navbar a:hover{
    color: brown;
}

h2{
    
    font-size: 42px;
    font-weight: 400;
    padding-top: 40px;
    padding-left: 80px;
}
h3{
    padding-top: 20px;    
    font-size: 32px;
    
}
hr{
    width: 90%;
    margin: 0 auto;
}
/*====================Início da página HOME============*/
.galeria{
    text-align: center;
    max-width: 100%;
}
.menu-galeria{
    display: inline-block;
    width: 28%;
    padding: 20px 20px;
    text-align: center;
}

.menu-galeria img{
    width: 100%;
    padding-top: 10px;
}

.menu-galeria span{
    
    padding: 15px;
}

.sabores-historia{
    display: grid;
    grid-template-columns: 45% 45%;
    padding: 20px 30px;
    max-width: 90%;
    margin: 0 auto;
}
.menu-sabores{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.menu-sabores p{
    line-height: 0%;
}
.historia{
    margin-top: 30px;
}

.historia p{
    width: 450px;
    float:right;
}

/*======================Início da página Contatos======================*/

.formulario {
    padding-left: 80px;
    padding-bottom: 50px;
}
.formulario p{
    padding-bottom: 20px;
}
.formulario button{
    background: rgb(61, 60, 60);
    padding: 5px 15px;
    color: white;
    font-weight: 100;
}

h4{
    font-size: 32px;
}
.col-esquerda{
    margin-top: 50px;
    padding-top: 20px;
    max-width: 90%;
}

input{
    width: 30%;
}

.col-direita{
    position: absolute;
    right: 15%;
    top: 320px;
}
.endereco h3, p{
    padding-top: 20px;
    
}
/*=================FIM da página CONTATOS=================*/

/*=================Início da página Quem somos============*/

.sobre{
    padding: 80px;
}
.col-historia{
    width: 40%;
}

.col-historia h3{
    padding: 20px;

}

.col-historia p{
    padding: 10px;
    font-size: 18px;
}

.col-galeria{
    width: 40%;
    position: absolute;
    right: 3%;
    top: 300px;
        
}

.col-galeria img{
    width: 150px;
    padding-right: 10px;
    padding-top: 10px;

}

.col-galeria ul li{
    padding: 10px 0;
    list-style: none;
}
/*=================FIM da página QUEM SOMOS=================*/
footer{
    background-color: rgb(48, 44, 44);
    width: 80%;
    height: 50px;
    margin: 0 auto;
    color: white;
}
footer p{
    font-size: 10px;
    font-weight: 100;
    text-align: center;
    padding-top: 20px;
    
}