.conteudo-principal{
    width: 100vh;
    height: 60vh;
    margin: 0 auto;
    background: rgb(34, 136, 184, 0.5);
    
    
}

form{
    margin: 20px 0 ;
}

form label{
    display: block;
    font-size: 14px;
    margin: 0 0 10px;
 
}

::placeholder{
    padding-left: 5px;
}

