*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(250, 245, 245); 
}
.gallery{
   
        margin: 5px;
        border: solid 1px;
        display: inline-block;
        width: 180px;
      }
      
     .gallery:hover {
        border: 1px solid #777;
        cursor: pointer;
        width: 190px;
      }
      
      .gallery img {
        width: 100%;
        height: auto;
        
      }
      
      .descricao {
        padding: 15px;
        text-align: left;
      }